In [144]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt

In [145]:
df = pd.read_csv("DATA.csv")
column_name = ["STUDENT ID", "Student Age","Sex","Graduated high-school type","Scholarship type","Additional work","Regular artistic or sports activity","Do you have a partner","Total salary if available","Transportation to the university","Accommodation type","Mother's education","Father's education","Number of sisters/brothers","Parental status","Mother's occupation","Father's occupation","Weekly study hours","Reading frequency (non-scientific books/journals)","Reading frequency (scientific books/journals)","Attendance to the seminars/conferences related to the department","Impact of your projects/activities on your success","Attendance to classes","Preparation to midterm exams 1","Preparation to midterm exams 2","Taking notes in classes","Listening in classes","Discussion improves my interest and success in the course","Flip-classroom","Cumulative grade point average in the last semester","Expected Cumulative grade point average in the graduation","COURSE ID","GRADE"]
df.columns = column_name
df

,STUDENT ID,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [146]:
print(df.isnull().sum())

STUDENT ID                                                          0
Student Age                                                         0
Sex                                                                 0
Graduated high-school type                                          0
Scholarship type                                                    0
Additional work                                                     0
Regular artistic or sports activity                                 0
Do you have a partner                                               0
Total salary if available                                           0
Transportation to the university                                    0
Accommodation type                                                  0
Mother's education                                                  0
Father's education                                                  0
Number of sisters/brothers                                          0
Parental status                                                     0
Mother's occupation                                                 0
Father's occupation                                                 0
Weekly study hours                                                  0
Reading frequency (non-scientific books/journals)                   0
Reading frequency (scientific books/journals)                       0
Attendance to the seminars/conferences related to the department    0
Impact of your projects/activities on your success                  0
Attendance to classes                                               0
Preparation to midterm exams 1                                      0
Preparation to midterm exams 2                                      0
Taking notes in classes                                             0
Listening in classes                                                0
Discussion improves my interest and success in the course           0
Flip-classroom                                                      0
Cumulative grade point average in the last semester                 0
Expected Cumulative grade point average in the graduation           0
COURSE ID                                                           0
GRADE                                                               0
dtype: int64

In [147]:
df.describe()

,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,Accommodation type,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000

In [148]:
grade_threshold = (np.min(df['GRADE']) + np.max(df['GRADE'])) / 2
df['SUCCESS'] = (df['GRADE'] > grade_threshold).astype(int)
df.sample(10)

,STUDENT ID,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,...,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE,SUCCESS
39,STUDENT40,2,1,2,3,2,2,1,1,1,...,1,2,2,2,3,2,1,1,1,0
81,STUDENT82,3,2,2,3,1,2,2,1,1,...,1,3,3,2,3,5,4,5,3,0
13,STUDENT14,2,1,2,5,2,2,2,1,1,...,1,3,2,3,3,4,2,1,1,0
72,STUDENT73,1,2,2,3,2,1,1,1,1,...,1,2,2,3,2,3,3,3,6,1
7,STUDENT8,1,1,2,3,1,1,1,2,2,...,1,3,2,2,1,1,1,1,2,0
20,STUDENT21,1,2,2,5,1,2,1,1,4,...,2,3,1,2,3,4,4,1,1,0
73,STUDENT74,2,2,2,4,2,2,2,1,1,...,2,3,2,3,1,5,3,3,6,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,2,3,2,2,1,3,2,1,1,0
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,1,2,1,2,1,5,3,9,4,1
14,STUDENT15,3,2,2,4,1,1,2,3,4,...,1,2,3,2,1,4,4,1,2,0

In [149]:
features = list(df.columns.drop(['STUDENT ID','GRADE','SUCCESS']))
target = 'SUCCESS'

In [150]:
def select_random_features(features):
    features_size = max(1, int(sqrt(len(features))))
    return random.sample(features, features_size)

In [151]:
def split_data(df, test_size=0.2):
    X = df[features].values
    Y = df[target].values
    np.random.seed(42)
    indices = np.random.permutation(len(X))
    test_samples = int(len(X) * test_size)
    train_indices = indices[test_samples:]
    test_indices = indices[:test_samples]
    X_train = X[train_indices]
    X_test = X[test_indices]
    Y_train = Y[train_indices]
    Y_test = Y[test_indices]
    print(f"Количество элементов в обучающей выборке X: {X_train.shape}")
    print(f"Количество элементов в тестовой выборке X: {X_test.shape}")
    print(f"Количество элементов в обучающей выборке Y: {Y_train.shape}")
    print(f"Количество элементов в тестовой выборке Y: {Y_test.shape}")
    return X_train, X_test, Y_train, Y_test

In [152]:
class DecisionTreeNode:
    def __init__(self, is_leaf=False, prediction=None, split_attribute=None, split_value=None, left=None, right=None):
        self.is_leaf = is_leaf
        self.prediction = prediction
        self.split_attribute = split_attribute
        self.split_value = split_value
        self.left = left
        self.right = right
        self.class_counts = {}
        
    def is_leaf_node(self):
        return self.is_leaf
    
    def split(self, attribute, value, left_node, right_node):
        self.split_attribute = attribute
        self.split_value = value
        self.left = left_node
        self.right = right_node
        self.is_leaf = False
        
    def predict(self, x):
        if self.is_leaf:
            return self.prediction
        else:
            if x[self.split_attribute] < self.split_value:
                return self.left.predict(x)
            else:
                return self.right.predict(x)
    
    def count_classes(self, y):
        self.class_counts = {}
        for class_label in y:
            if class_label not in self.class_counts:
                self.class_counts[class_label] = 0
            self.class_counts[class_label] += 1
        self.prediction = max(self.class_counts, key=self.class_counts.get)
        
    def __repr__(self):
        if self.is_leaf:
            return f"Leaf(Node) - Prediction: {self.prediction}, Class counts: {self.class_counts}"
        else: 
            return f"Internal(Node) - Split attribute: {self.split_attribute}, Split value: {self.split_value}"
        
        
class DecisionTree:
    def __init__(self):
        self.root = None
        
    def entropy(self, y):
        unique_classes, counts = np.unique(y, return_counts=True)
        probabilities = counts / len(y)
        return -np.sum(probabilities * np.log2(probabilities))
    
    def info_gain(self, x, y, attribute_index):
        initial_entropy = self.entropy(y)
        unique_values = np.unique(x[:, attribute_index])
        weighted_entropy = 0
        for value in unique_values:
            left_mask = x[:, attribute_index] == value
            left_y = y[left_mask]
            weighted_entropy += (len(left_y) / len(y)) * self.entropy(left_y)
        return initial_entropy - weighted_entropy
    
    def best_split(self, x, y, selected_features):
        best_gain = -1
        best_attribute = None
        for attribute_index in selected_features:
            gain = self.info_gain(x, y, attribute_index)
            if gain > best_gain:
                best_gain = gain
                best_attribute = attribute_index
        return best_attribute
    
    def build_tree(self, x, y, depth=0, max_depth=None, selected_features=None):
        if selected_features is None:
            selected_features = list(range(x.shape[1]))
    
        if len(np.unique(y)) == 1:
            node = DecisionTreeNode(is_leaf=True)
            node.count_classes(y)
            return node
    
        if max_depth is not None and depth >= max_depth:
            node = DecisionTreeNode(is_leaf=True)
            node.count_classes(y)
            return node

        if len(y) < 2:
            node = DecisionTreeNode(is_leaf=True)
            node.count_classes(y)
            return node
    
        best_attribute = self.best_split(x, y, selected_features)
        if best_attribute is None:
            node = DecisionTreeNode(is_leaf=True)
            node.count_classes(y)
            return node
    
        node = DecisionTreeNode(is_leaf=False)
        split_value = np.median(x[:, best_attribute])
        left_mask = x[:, best_attribute] < split_value
        right_mask = ~left_mask
        if np.sum(left_mask) == 0 or np.sum(right_mask) == 0:
            node = DecisionTreeNode(is_leaf=True)
            node.count_classes(y)
            return node

        left_node = self.build_tree(x[left_mask], y[left_mask], depth + 1, max_depth, selected_features)
        right_node = self.build_tree(x[right_mask], y[right_mask], depth + 1, max_depth, selected_features)
    
        node.split(best_attribute, split_value, left_node, right_node)
        return node
    
    def fit(self, x, y, max_depth=None, selected_features=None):
        self.root = self.build_tree(x, y, max_depth=max_depth, selected_features=selected_features)
        
    def predict_class(self, x):
        return self.root.predict(x)
    
    def predict(self, X):
        return np.array([self.predict_class(x) for x in X])
    
    def predict_probabilities(self, X):
        probabilities = []
        for x in X:
            class_counts = {}
            self._count_classes(self.root, x, class_counts)
            total = sum(class_counts.values())
            probabilities.append({cls: count / total for cls, count in class_counts.items()})
        return probabilities
    
    def _count_classes(self, node, x, class_counts):
        if node.is_leaf:
            class_counts[node.prediction] = class_counts.get(node.prediction, 0) + 1
        else:
            attribute_value = x[node.split_attribute]
            self._count_classes(node.left if x[node.split_attribute] < node.split_value else node.right, x, class_counts)
            
    # def __repr__(self):
    #     return self._repr_tree(self.root)
    # 
    # def _repr_tree(self, node, level=0):
    #     if node.is_leaf:
    #         return f"{' '* level}Leaf(Node) - Prediction: {node.prediction}, Class counts: {node.class_counts}\n"
    #     else:
    #         result = f"{' '*level}Internal(Node) - Split attribute: {node.split_attribute}, Split value: {node.split_value}\n"
    #         result += self._repr_tree(node.left, level+1)
    #         result += self._repr_tree(node.right, level+1)
    #         return result

In [153]:
def tree_to_string(node, depth=0):
    indent = "  " * depth
    if node.is_leaf:
        return f"{indent}Leaf: Prediction={node.prediction}, Counts={node.class_counts}\n"
    else:
        result = f"{indent}Node: Split attribute={node.split_attribute}, Split value={node.split_value}\n"
        result += tree_to_string(node.left, depth + 1)
        result += tree_to_string(node.right, depth + 1)
        return result

In [154]:
def evaluate_model(model ,X_train, Y_train, X_test, Y_test):
    train_predictions = model.predict(X_train)
    test_predictions = model.predict(X_test)
    train_accuracy = np.mean(train_predictions == Y_train)
    test_accuracy = np.mean(test_predictions == Y_test)
    return train_accuracy, test_accuracy

In [155]:
def evaluate_on_threshold(df, threshold):
    df['SUCCESS'] = (df['GRADE'] > threshold).astype(int)
    selected_features = select_random_features(features)
    X_train, X_test, Y_train, Y_test = split_data(df)
    selected_feature_indices = [features.index(f) for f in selected_features]
    X_train_selected = X_train[:, selected_feature_indices]
    X_test_selected = X_test[:, selected_feature_indices]
    model = DecisionTree()
    model.fit(X_train_selected, Y_train, selected_features=list(range(len(selected_features))))
    train_accuracy, test_accuracy = evaluate_model(
        model, X_train_selected, Y_train, X_test_selected, Y_test
    )
    return train_accuracy, test_accuracy, model, threshold, selected_features, len(selected_features)

In [156]:
X_train, X_test, Y_train, Y_test = split_data(df)
model = DecisionTree()
model.fit(X_train, Y_train)
train_acc, test_acc = evaluate_model(model, X_train, Y_train, X_test, Y_test)
print(f"Train Accuracy: {train_acc}")
print(f"Test Accuracy: {test_acc}")
print(tree_to_string(model.root))

train_acc, test_acc, model, threshold, selected_features, feature_count = evaluate_on_threshold(df, grade_threshold)
print(f"Threshold: {threshold}")
print(f"Randomly selected features ({feature_count}): {selected_features}")
print(f"Train Accuracy: {train_acc}")
print(f"Test Accuracy: {test_acc}")
print(tree_to_string(model.root))

Количество элементов в обучающей выборке X: (116, 31)
Количество элементов в тестовой выборке X: (29, 31)
Количество элементов в обучающей выборке Y: (116,)
Количество элементов в тестовой выборке Y: (29,)
Train Accuracy: 0.9137931034482759
Test Accuracy: 0.896551724137931
Node: Split attribute=30, Split value=3.0
  Node: Split attribute=28, Split value=3.0
    Leaf: Prediction=0, Counts={np.int64(0): 20}
    Node: Split attribute=5, Split value=2.0
      Node: Split attribute=10, Split value=2.0
        Node: Split attribute=0, Split value=2.0
          Leaf: Prediction=1, Counts={np.int64(1): 1}
          Leaf: Prediction=1, Counts={np.int64(0): 1, np.int64(1): 3}
        Node: Split attribute=10, Split value=3.0
          Node: Split attribute=0, Split value=1.5
            Leaf: Prediction=0, Counts={np.int64(0): 1}
            Leaf: Prediction=1, Counts={np.int64(1): 1}
          Node: Split attribute=7, Split value=1.5
            Leaf: Prediction=1, Counts={np.int64(1): 2}
            Leaf: Prediction=0, Counts={np.int64(0): 2}
      Leaf: Prediction=0, Counts={np.int64(0): 20, np.int64(1): 5}
  Node: Split attribute=30, Split value=7.0
    Node: Split attribute=0, Split value=2.0
      Leaf: Prediction=1, Counts={np.int64(1): 10}
      Node: Split attribute=12, Split value=3.0
        Leaf: Prediction=1, Counts={np.int64(1): 5}
        Node: Split attribute=10, Split value=2.5
          Node: Split attribute=1, Split value=2.0
            Leaf: Prediction=1, Counts={np.int64(1): 1}
            Leaf: Prediction=0, Counts={np.int64(0): 2}
          Leaf: Prediction=1, Counts={np.int64(1): 3}
    Node: Split attribute=30, Split value=8.0
      Leaf: Prediction=1, Counts={np.int64(1): 11, np.int64(0): 1}
      Node: Split attribute=28, Split value=2.0
        Leaf: Prediction=0, Counts={np.int64(0): 7}
        Node: Split attribute=28, Split value=3.0
          Leaf: Prediction=0, Counts={np.int64(0): 9}
          Leaf: Prediction=0, Counts={np.int64(0): 8, np.int64(1): 3}

Количество элементов в обучающей выборке X: (116, 31)
Количество элементов в тестовой выборке X: (29, 31)
Количество элементов в обучающей выборке Y: (116,)
Количество элементов в тестовой выборке Y: (29,)
Threshold: 3.5
Randomly selected features (5): ['Discussion improves my interest and success in the course', 'Reading frequency (non-scientific books/journals)', 'Parental status', "Mother's education", 'Cumulative grade point average in the last semester']
Train Accuracy: 0.6551724137931034
Test Accuracy: 0.5172413793103449
Node: Split attribute=4, Split value=3.0
  Node: Split attribute=0, Split value=2.0
    Leaf: Prediction=0, Counts={np.int64(0): 6}
    Node: Split attribute=1, Split value=2.0
      Leaf: Prediction=0, Counts={np.int64(0): 8}
      Node: Split attribute=3, Split value=2.0
        Node: Split attribute=4, Split value=2.0
          Leaf: Prediction=0, Counts={np.int64(0): 4}
          Node: Split attribute=0, Split value=3.0
            Leaf: Prediction=0, Counts={np.int64(0): 2}
            Leaf: Prediction=0, Counts={np.int64(1): 2, np.int64(0): 4}
        Node: Split attribute=3, Split value=3.0
          Leaf: Prediction=0, Counts={np.int64(0): 5, np.int64(1): 1}
          Node: Split attribute=3, Split value=4.0
            Leaf: Prediction=1, Counts={np.int64(0): 2, np.int64(1): 3}
            Node: Split attribute=4, Split value=1.5
              Leaf: Prediction=1, Counts={np.int64(1): 2, np.int64(0): 2}
              Leaf: Prediction=0, Counts={np.int64(0): 4}
  Node: Split attribute=3, Split value=2.0
    Leaf: Prediction=1, Counts={np.int64(0): 13, np.int64(1): 14}
    Node: Split attribute=3, Split value=3.0
      Leaf: Prediction=0, Counts={np.int64(0): 8, np.int64(1): 7}
      Leaf: Prediction=1, Counts={np.int64(1): 16, np.int64(0): 13}