In [20]:
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt

In [21]:
df = pd.read_csv("DATA.csv")
df

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [22]:
df.info

<bound method DataFrame.info of      STUDENT ID  1  2  3  4  5  6  7  8  9  ...  23  24  25  26  27  28  29  \
0      STUDENT1  2  2  3  3  1  2  2  1  1  ...   1   1   3   2   1   2   1
1      STUDENT2  2  2  3  3  1  2  2  1  1  ...   1   1   3   2   3   2   2
2      STUDENT3  2  2  2  3  2  2  2  2  4  ...   1   1   2   2   1   1   2
3      STUDENT4  1  1  1  3  1  2  1  2  1  ...   1   2   3   2   2   1   3
4      STUDENT5  2  2  1  3  2  2  1  3  1  ...   2   1   2   2   2   1   2
..          ... .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..
140  STUDENT141  2  1  2  3  1  1  2  1  1  ...   1   1   2   1   2   1   3
141  STUDENT142  1  1  2  4  2  2  2  1  4  ...   1   1   3   2   2   1   5
142  STUDENT143  1  1  1  4  2  2  2  1  1  ...   1   1   3   3   2   1   4
143  STUDENT144  2  1  2  4  1  1  1  5  2  ...   2   1   2   1   2   1   5
144  STUDENT145  1  1  1  5  2  2  2  3  1  ...   2   1   3   2   3   1   5

     30  COURSE ID  GRADE
0     1          1      1
1     3          1      1
2     2          1      1
3     2          1      1
4     2          1      1
..   ..        ...    ...
140   3          9      5
141   3          9      5
142   3          9      1
143   3          9      4
144   4          9      3

[145 rows x 33 columns]>

In [23]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000

In [24]:
grade_threshold = (np.min(df['GRADE']) + np.max(df['GRADE'])) / 2
df['SUCCESS'] = (df['GRADE'] > grade_threshold).astype(int)
df.sample(10)

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,COURSE ID,GRADE,SUCCESS
24,STUDENT25,2,2,2,3,2,2,2,2,1,...,1,2,1,3,2,4,4,1,2,0
35,STUDENT36,1,2,1,4,2,2,2,3,1,...,1,2,1,3,1,1,1,1,1,0
103,STUDENT104,1,2,1,4,2,2,1,5,1,...,1,2,2,3,2,4,4,7,7,1
115,STUDENT116,2,1,2,5,1,2,1,1,1,...,2,3,2,3,2,2,2,8,1,0
17,STUDENT18,2,2,2,3,2,2,2,1,1,...,1,2,2,2,2,2,2,1,2,0
71,STUDENT72,1,1,3,4,2,2,2,1,1,...,1,2,3,3,3,2,2,3,6,1
42,STUDENT43,2,2,2,3,2,1,2,1,4,...,1,2,1,3,1,2,3,1,1,0
30,STUDENT31,2,2,2,5,1,1,1,1,1,...,1,2,3,3,3,5,4,1,5,1
20,STUDENT21,1,2,2,5,1,2,1,1,4,...,2,3,1,2,3,4,4,1,1,0
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,3,2,2,1,5,3,9,5,1

In [25]:
features = list(df.columns.drop(['STUDENT ID','GRADE','SUCCESS']))
target = 'SUCCESS'
print(f"{features=}")
print(f"{target=}")

features=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', 'COURSE ID']
target='SUCCESS'

In [29]:
fcs_size = int(sqrt(len(features)))
fcs = [features[i] for i in sorted(random.sample(range(len(features)), fcs_size))]
print(f"{fcs=}")
print(f"{fcs_size=}")

fcs=['3', '8', '10', '20', '30']
fcs_size=5