In [44]:
from math import sqrt
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
from graphviz import Digraph

In [45]:
df = pd.read_csv("DATA.csv")
column_name = ["STUDENT ID", "Student Age","Sex","Graduated high-school type","Scholarship type","Additional work","Regular artistic or sports activity","Do you have a partner","Total salary if available","Transportation to the university","Accommodation type","Mother's education","Father's education","Number of sisters/brothers","Parental status","Mother's occupation","Father's occupation","Weekly study hours","Reading frequency (non-scientific books/journals)","Reading frequency (scientific books/journals)","Attendance to the seminars/conferences related to the department","Impact of your projects/activities on your success","Attendance to classes","Preparation to midterm exams 1","Preparation to midterm exams 2","Taking notes in classes","Listening in classes","Discussion improves my interest and success in the course","Flip-classroom","Cumulative grade point average in the last semester","Expected Cumulative grade point average in the graduation","COURSE ID","GRADE"]
df.columns = column_name
df

,STUDENT ID,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [46]:
print(df.isnull().sum())

STUDENT ID                                                          0
Student Age                                                         0
Sex                                                                 0
Graduated high-school type                                          0
Scholarship type                                                    0
Additional work                                                     0
Regular artistic or sports activity                                 0
Do you have a partner                                               0
Total salary if available                                           0
Transportation to the university                                    0
Accommodation type                                                  0
Mother's education                                                  0
Father's education                                                  0
Number of sisters/brothers                                          0
Parental status                                                     0
Mother's occupation                                                 0
Father's occupation                                                 0
Weekly study hours                                                  0
Reading frequency (non-scientific books/journals)                   0
Reading frequency (scientific books/journals)                       0
Attendance to the seminars/conferences related to the department    0
Impact of your projects/activities on your success                  0
Attendance to classes                                               0
Preparation to midterm exams 1                                      0
Preparation to midterm exams 2                                      0
Taking notes in classes                                             0
Listening in classes                                                0
Discussion improves my interest and success in the course           0
Flip-classroom                                                      0
Cumulative grade point average in the last semester                 0
Expected Cumulative grade point average in the graduation           0
COURSE ID                                                           0
GRADE                                                               0
dtype: int64

In [47]:
df.describe()

,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,Accommodation type,...,Preparation to midterm exams 1,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000

In [48]:
grade_threshold = (np.min(df['GRADE']) + np.max(df['GRADE'])) / 2
grade_threshold = round(grade_threshold)
print(grade_threshold)

4

In [49]:
df['SUCCESS'] = (df['GRADE'] > grade_threshold).astype(int)
df.sample(15)

,STUDENT ID,Student Age,Sex,Graduated high-school type,Scholarship type,Additional work,Regular artistic or sports activity,Do you have a partner,Total salary if available,Transportation to the university,...,Preparation to midterm exams 2,Taking notes in classes,Listening in classes,Discussion improves my interest and success in the course,Flip-classroom,Cumulative grade point average in the last semester,Expected Cumulative grade point average in the graduation,COURSE ID,GRADE,SUCCESS
39,STUDENT40,2,1,2,3,2,2,1,1,1,...,1,2,2,2,3,2,1,1,1,0
81,STUDENT82,3,2,2,3,1,2,2,1,1,...,1,3,3,2,3,5,4,5,3,0
13,STUDENT14,2,1,2,5,2,2,2,1,1,...,1,3,2,3,3,4,2,1,1,0
72,STUDENT73,1,2,2,3,2,1,1,1,1,...,1,2,2,3,2,3,3,3,6,1
7,STUDENT8,1,1,2,3,1,1,1,2,2,...,1,3,2,2,1,1,1,1,2,0
20,STUDENT21,1,2,2,5,1,2,1,1,4,...,2,3,1,2,3,4,4,1,1,0
73,STUDENT74,2,2,2,4,2,2,2,1,1,...,2,3,2,3,1,5,3,3,6,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,2,3,2,2,1,3,2,1,1,0
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,1,2,1,2,1,5,3,9,4,0
14,STUDENT15,3,2,2,4,1,1,2,3,4,...,1,2,3,2,1,4,4,1,2,0
97,STUDENT98,1,2,2,4,1,2,2,1,1,...,1,3,2,2,1,3,3,7,6,1
134,STUDENT135,1,1,2,4,2,1,2,1,2,...,1,2,1,2,1,2,3,9,1,0
77,STUDENT78,1,2,1,2,2,2,1,2,2,...,1,2,2,2,2,1,1,4,7,1
34,STUDENT35,1,2,1,3,2,2,1,2,1,...,1,2,2,3,1,4,1,1,2,0
127,STUDENT128,1,1,2,4,2,2,2,1,4,...,1,3,2,2,1,2,2,9,1,0

In [50]:
features = list(df.columns.drop(['STUDENT ID','GRADE','SUCCESS']))
target = 'SUCCESS'

In [51]:
# def select_random_features(features):
#     features_size = max(1, int(sqrt(len(features))))
#     return random.sample(features, features_size)

In [52]:
def split_data(df, test_size=0.2):
    X = df[features].values
    Y = df[target].values
    np.random.seed(42)
    indices = np.random.permutation(len(X))
    test_samples = int(len(X) * test_size)
    train_indices = indices[test_samples:]
    test_indices = indices[:test_samples]
    X_train = X[train_indices]
    X_test = X[test_indices]
    Y_train = Y[train_indices]
    Y_test = Y[test_indices]
    print(f"Обучающая выборка: X={X_train.shape}, Y={Y_train.shape}")
    print(f"Тестовая выборка: X={X_test.shape}, Y={Y_test.shape}")
    return X_train, X_test, Y_train, Y_test

In [53]:
class Node:
    def __init__(self, feature=None, children=None, predicted_class=None, proportions=None):
        self.feature = feature
        self.children = children if children else {}
        self.predicted_class = predicted_class
        self.proportions = proportions

class DecisionTree:
    def __init__(self, max_depth=None, n_classes=None, feature_names=None):
        self.max_depth = max_depth
        self.n_classes = n_classes
        self.root = None
        self.feature_names = feature_names
        self.selected_features = None

    def select_features(self, seed=None):
        n_features = len(self.feature_names)
        rng = np.random.default_rng(seed)
        selected_indices = rng.choice(n_features, int(sqrt(n_features)), replace=False)
        self.selected_features = [self.feature_names[i] for i in selected_indices]
        print(f"Selected features for this tree: {self.selected_features}")
        return selected_indices



    def fit(self, X, Y, seed=None):
        selected_indices = self.select_features(seed=seed)
        X_selected = X[:, selected_indices]
        self.root = self._build_tree(X_selected, Y)
        self.selected_indices = selected_indices

    def _build_tree(self, X, Y, depth=0):
        n_samples, n_features = X.shape
        unique_labels = np.unique(Y)
        if len(unique_labels) == 1 or n_samples == 0 or (self.max_depth is not None and depth >= self.max_depth):
            proportions = np.bincount(Y, minlength=self.n_classes) / len(Y) if n_samples > 0 else np.zeros(self.n_classes)
            return Node(predicted_class=unique_labels[0] if n_samples > 0 else None, proportions=proportions)

        best_feature, best_gain = None, -float("inf")
        feature_splits = None

        for feature in range(n_features):
            unique_values = np.unique(X[:, feature])
            splits = {val: Y[X[:, feature] == val] for val in unique_values}
            gain = self._information_gain_multiple(splits, Y)
            if gain > best_gain:
                best_feature, best_gain = feature, gain
                feature_splits = splits

        if best_feature is None:
            proportions = np.bincount(Y, minlength=self.n_classes) / len(Y)
            return Node(predicted_class=np.bincount(Y).argmax(), proportions=proportions)

        children = {}
        for value in feature_splits.keys():
            idx = X[:, best_feature] == value
            child_x = X[idx]
            child_y = Y[idx]
            children[value] = self._build_tree(child_x, child_y, depth + 1)

        return Node(feature=best_feature, children=children)
    
    def _information_gain_multiple(self, splits, Y):
        total_samples = len(Y)
        parent_entropy = self._entropy(Y)
        weighted_child_entropy = 0

        for child in splits.values():
            child_size = len(child)
            weighted_child_entropy += (child_size / total_samples) * self._entropy(child)
        return parent_entropy - weighted_child_entropy

    def _entropy(self, Y):
        proportions = np.bincount(Y) / len(Y)
        return -np.sum(proportions * np.log2(proportions + 1e-6))

    def predict(self, X):
        X_selected = X[:, self.selected_indices]
        return np.array([self._predict(inputs, self.root) for inputs in X_selected])

    def _predict(self, inputs, node):
        if node.predicted_class is not None:
            return node.predicted_class
        feature_value = inputs[node.feature]
        if feature_value in node.children:
            return self._predict(inputs, node.children[feature_value])
        else:
            return np.argmax(node.proportions)

    def visualize_tree(self):
        graph = Digraph()
        self._add_nodes_edges(self.root, graph, node_id='0')
        return graph

    def _add_nodes_edges(self, node, graph, node_id):
        if node.feature is not None:
            label = f"Feature: {self.selected_features[node.feature]}" if self.selected_features else f"Feature: {node.feature}"
            graph.node(node_id, label=label)
            for value, child in node.children.items():
                child_id = f"{node_id}-{value}"
                graph.edge(node_id, child_id, label=f"Value: {value}")
                self._add_nodes_edges(child, graph, child_id)
        else:
            label = f"Class {node.predicted_class} \n Proportions: {node.proportions}"
            graph.node(node_id, label=label, shape="ellipse")

In [54]:
def calculate_metrics(y_true, y_pred):
    TruePositive = np.sum((y_true == 1) & (y_pred == 1))
    FalsePositive = np.sum((y_true == 0) & (y_pred == 1))
    TrueNegative = np.sum((y_true == 0) & (y_pred == 0))
    FalseNegative = np.sum((y_true == 1) & (y_pred == 0))
    
    accuracy = (TruePositive + TrueNegative) / (TruePositive + TrueNegative + FalsePositive + FalseNegative ) if (TruePositive + TrueNegative + FalsePositive + FalseNegative) > 0 else 0
    precision = TruePositive / (TruePositive + FalsePositive) if (TruePositive + FalsePositive) > 0 else 0
    recall = TruePositive / (TruePositive + FalseNegative) if (TruePositive + FalseNegative) > 0 else 0
    return accuracy, precision, recall

In [60]:
X_train, X_test, Y_train, Y_test = split_data(df)
tree = DecisionTree(max_depth=3, n_classes=2, feature_names=features)
tree.fit(X_train, Y_train)
y_pred1 = tree.predict(X_test)

accuracy, precision, recall = calculate_metrics(Y_test, y_pred1)
graph = tree.visualize_tree()

print(f"Tree")
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
graph.render("decision_tree", format="png", cleanup=True)

Обучающая выборка: X=(116, 31), Y=(116,)
Тестовая выборка: X=(29, 31), Y=(29,)
Selected features for this tree: ['Preparation to midterm exams 1', 'Impact of your projects/activities on your success', 'Total salary if available', 'Attendance to the seminars/conferences related to the department', 'Number of sisters/brothers']
Tree
Accuracy: 0.6896551724137931
Precision: 0.5
Recall: 0.1111111111111111

'decision_tree.png'